body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(240, 223, 189);

}

#main-title {
    display: block;
    margin-top: 0;
    font-size: 48px;
    text-align: center;
}

#grid {
    text-align: center;
    background-color: rgb(212, 196, 165);
}

.align-recipe-content {
    display: block;
    margin-left: 200px;
    margin-right: 700px;
}

.box-main {
    display: inline-block;
    padding: 30px;
}

h1 {
    font-size: 48px;
}

img {
    width: 300px;
    object-fit: cover;
}

.list {
    color: green;
    font-weight: 100;
}

.ordered.list {
    color: black;
    font-size: 18px;
}

img.main-image {
    height: 200px;
    border: 2px solid black;
}

img.side-image {
    display: block;
    width: 500px;
    height: 400px;
}

.success {
    font-size: 28px;
    color: darkorange;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

